---
layout: default
published: true
---





<article class="portfolio">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h4>{{ page.title }}</h4>
          <hr>
          <p>{{ content }}

        </div>
  {% if page.images %}
    <div class="col-md-8 col-sm-8 col-xs-12">
      {% for image in page.images limit: 4 %}
        <img class="img-responsive" src="/img/large/{{ image }}" alt="img"/>
    {% endfor %}
    </div>
{% endif %}

{% if page.images %}
  <div class="col-md-8 col-sm-8 col-xs-12">
    {% for image in page.images limit:4 offset: 4%}
      <img class="img-responsive" src="/img/large/{{ image }}" alt="img"/>
  {% endfor %}
  </div>
{% endif %}

    </article>
